.main-content {
    margin: 0 auto;
    width: 750px;
    box-shadow: 0 4px 16px 0 #AFBBBF;
    background-color: azure;
    padding: 2px;
}

.header-content {
    width: 100%;
    background-color: bisque;
    margin-bottom: 30px;
    letter-spacing: 8px;
    font-size: 5em;
    color: peru;
    text-align: center;
}

.input-section {
    width: 100%;
    margin-bottom: 50px;
}

.input-class {
    height: 100px;
    width: 99%;
    text-align: right;
    font-size: 3em;
    color: peru;
}

.section-button {
    display: flex;
    width: 99%;
    margin-bottom: 10px;
}

button {
    box-shadow: 0 4px 16px 0 #AFBBBF;
    width: 13.5em;
    height: 4em;
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.sub {
    margin-bottom: 20px;
    margin-left: 10px;
}

.submit {
    box-shadow: 0 4px 16px 0 #AFBBBF;
    width: 5em;
    height: 3em;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.input-class-2 {
    width: 48em;
    height: 3em;
    font-size: 0.8em;
}

.footer-class {
    width: 98%;
}

#history {
    display: none;
    font-size: 5em;
}